.App {
	text-align: center;
	height: 100vh;
	vertical-align: middle;
	position: relative;
	/* background-color: lightskyblue; */
}

html,
body {
	height: 100%;
	margin: 0px auto;
}

body {
	background-image: url("./cloudy-sky.jpg");
	background-repeat: none;
	background-size: cover;
	background-position: center center;
}

#title {
	padding-bottom: 50px;
}

#quote-box {
	display: inline-block;
	position: absolute;
	top: 15%;
	transform: translateY(-50%);
	transform: translateX(-50%);
	margin: 0px auto;
	vertical-align: middle;
	align-content: center;
	align-items: center;
	width: 80vh;
}

#text {
	font-size: 36px;
	font-family: cursive;
	text-align: left;
	padding-left: 40px;
	margin-bottom: 50px;
	border-left: 2px solid rgba(33, 33, 33, 0.5);
}

#dash {
	display: inline-block;
	background-color: black;
	height: 5px;
	width: 40px;
	margin-right: 20px;
	vertical-align: middle;
}

#author {
	font-size: 24px;
	font-family: "Raleway";
	text-align: left;
	padding-left: 50px;
}

.buttons {
	position: relative;
	top: 150px;
}

button {
	font-family: "Raleway";
	font-size: 26px;
	padding: 15px;
	border-radius: 3px;
	background-color: white;
	border-color: 1px solid grey;
	margin: 0px 50px;
}
